body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
  margin: 0;
  padding: 0; /* Remove side padding */
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 40px auto 0 auto; /* Top margin for spacing, auto for even sides */
  padding: 1em;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.term {
  cursor: pointer;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 2em;
  border-radius: 6px;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
}

.term:hover {
  background-color: #eee;
}

.definition {
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 0;
  color: #555;
  overflow-wrap: break-word;
  word-break: break-word;
}

.definition p {
  margin-bottom: 1em;
}

.definition small {
  color: #666;
  font-style: italic;
}
